#igra {
	background: #505050;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.ball {
	background: red;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: -100px;
	left: -250px;
	transition: all 1s;	
}

.bomb {
	background: url(../images/bomb.png);	
}

.left {
	top: 500px;
	left: -100px;
}

.right {
	top: 500px;
	left: 700px;
}

#stars {
	font-size: 34px;
	font-weight: bold;
	color: #FFFFFF;
	position: absolute;
	top: 10px;
	left: 20px;
	transition: all 1s;	
}

#lifes {
    position: absolute;
	top: 10px;
	right: 10px;		
	transition: all 1s;			
}

#lifes span {
	background: pink;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid white;
	display: block;	
	float: left;		
}

#start-block {
	width: 100%;
	height: 100%;
	background: #08dbf6;
	border: 2px solid grey;
	position: absolute;
	top: 0;
	left: 0;
}

#start-block button {
	display: block;
	margin: 100px auto;
	padding: 40px 80px;
	font-size: 24px;

}

#ballBtn {
	display: block;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid grey;
	margin: 30px auto;
}

#conec-igra {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 40px;
	background: #1880da;
	color: #FFFFFF;
}

#novai-igra {
    position: absolute;
    top: 270px;
    left: 150px;
    width: 300px;
    height: 60px;    
    font-size: 30px;
    font-weight: bold;
    border: 2px solid red;   
}

